body {
  font-family: "Raleway", sans-serif;
}

.nav-item {
  margin-left: 0.5em !important;
}

.nav-item:hover {
  color: #fcfcfc;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-info {
  background-color: #373a3c !important;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
