body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:aliceblue;
  
}
.colortext{
  color: azure;
  font-size: 30px;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/gala3.jpg");
  background-repeat:repeat-x;
  background-size: 20%;
  background-position: 0%;
}
#custom-container {
  background-image: url("../img/A1.png");
  background-repeat:no-repeat;
  background-size: 50%;
  background-position: 0%;
  margin-left: 35%;
  
}
.gradient-bg {
  height: auto; /* Ajusta la altura según necesites */
  background: linear-gradient(to bottom ,black,rgb(17, 16, 16), #1e1d1e); /* Degradado de colores */
}

.textl{
  font-size: calc(0.60rem + 1.0vw);
  background-color:black;
}
#gala8{
  background-image: url("../img/gala8.png");
  background-repeat:no-repeat;
  background-size: 40%;
  background-position: 100%;
  padding-top: 2%;
}

#Acerca-de-mi{
  background: linear-gradient(to bottom , #676668,#676668, rgb(15, 2, 92) );
  color: azure;
}
/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

 
}
